<mat-toolbar color="primary">
  <button
    mat-icon-button
    color="accent"
    class="menu-icon"
    aria-label="a button with menu icon to launch the menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>MovieApp</span>
  <span class="spacer"></span>
  <button
    mat-raised-button
    color="accent"
    class="nav-bar-button login-icon"
    aria-label="Login button"
  >
    Login
  </button>
  <button
    mat-raised-button
    color="accent"
    class="nav-bar-button register-icon"
    aria-label="Register button"
  >
    Register
  </button>
</mat-toolbar>
