<mat-toolbar color="primary">
  <button
    mat-icon-button
    color="accent"
    class="menu-icon"
    aria-label="a button with menu icon to launch the menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>MovieApp</span>
  <span class="spacer"></span>
  <button
    *ngIf="!isUserLoggedIn"
    mat-raised-button
    color="accent"
    class="nav-bar-button login-icon"
    aria-label="Login button"
    (click)="onAuthenticationClick(AUTH_MODE.Login)"
  >
    Login
  </button>
  <button
    *ngIf="!isUserLoggedIn"
    mat-raised-button
    color="accent"
    class="nav-bar-button register-icon"
    aria-label="Register button"
    (click)="onAuthenticationClick(AUTH_MODE.Register)"
  >
    Register
  </button>
  <button
    *ngIf="isUserLoggedIn"
    mat-raised-button
    color="accent"
    class="nav-bar-button logout-icon"
    aria-label="Logout button"
    (click)="onLogout()"
  >
    Logout
  </button>
</mat-toolbar>
